*.log
*.lck
*.ctrl
*.dat
*.sqlite
*.1
*.bak
*.bak2
*.db
.afp*
AuthMe/config.yml
AuthMe/players.yml
CommandBook/sessions/
CommandBook/bans.csv
CraftIRC/
dynmap/web/tiles/
dynmap/web/standalone/*.json
Gringotts/GringottsDB/
MobArena/inventories/
MobArena/arenas/
PermissionsEx/includes/
PluginMetrics/
Prism/config.php
pvparena/players.yml
pvparena/debug/
update/
Updater/
WorldGuard/report.txt
